{
  "plugins": ["prettier-plugin-go-template", "prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./themes/lucidpearl/assets/scss/main.scss",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template",
        "goTemplateBracketSpacing": true,
        "bracketSameLine": true
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "proseWrap": "always"
      }
    },
    {
      "files": ["README", "readme.md"],
      "options": {
        "proseWrap": "never"
      }
    }
  ]
}
