// Add your own custom styles here
.hi-svg-inline {
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: -0.125rem;
}

.hi-svg-1 {
  height: 1em;
  width: 1em;
  vertical-align: -0.125rem;
}

.hi-svg-2 {
  height: 1.4em;
  width: 1.4em;
  vertical-align: -0.25rem;
}

.hi-svg-3 {
  height: 2em;
  width: 2em;
  vertical-align: -0.5rem;
}
